<div class="row" *ngIf="product">
  <div class="col-4">
    <div class="card">
      <img src="{{product.photoUrl || './assets/product.png'}}" alt="{{product.name}}" class="card-img-top img-thumbnail" />
      <div class="card-body">
        <div>
          <strong>Name</strong>
          <p>{{product.name}}</p>
        </div>
        <div>
          <strong>Price</strong>
          <p>{{product.price}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div>
      <strong>Description</strong>
      <p>{{product.description}}</p>
    </div>
    <div class="btn-group d-flex">
      <button class="btn btn-primary" (click)="AddToCart()">Add To Cart</button>
    </div>
  </div>
</div>

