<p>My Carts</p>
<div class="text-center mt-5" *ngIf="!_cartItems">
  <h2>No Records Found</h2>
</div>

<div class="row" *ngIf="_cartItems">
  <table class="table">
    <thead>
      <tr>
        <td style="width:20%"> </td>
        <td style="width:30%"> </td>
        <td style="width:40%">Description</td>
        <td style="width:40%">Price</td>
        <td style="width:30%"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of _cartItems">
        <td><img src="{{cartItem.product.photoUrl}}" alt="{{cartItem.product.name}}" class="card-img-top" /></td>
        <td>{{cartItem.product.name}}</td>
        <td>{{cartItem.product.description}}</td>
        <td>{{cartItem.price}}</td>
        <td><button class="btn btn-cancel" (click)="deleteFromCart(cartItem)">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="total" colspan="4" style="text-align:right">Total :</th>
        <td>{{total}}</td>
      </tr>
      <tr *ngIf="_cartItems">
        <th id="total" colspan="3"></th>
        <td colspan="3"><button class="btn btn-primary" (click)="OpenOrderModal()">Proceed Checkout</button></td>
      </tr>
    </tfoot>
  </table>
</div>
