<p>Order Management</p>
<div class="row mt-5">
  <table class="table">
    <tr>
      <td style="width:30%">Order # </td>
      <td style="width:40%">Staus </td>
      <td style="width:40%">Total Price </td>
      <td style="width:30%"></td>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.orderStatus.text}}</td>
      <td>{{order.totalPrice}}</td>
      <td><button class="btn btn-info" (click)="OpenOrderModal(order)">Update Order Status</button></td>
    </tr>
  </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
              [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
